.idea/
.vscode/
.cache/
__pycache__/
venv/
.ipynb_checkpoints/

builddir
build
qemu/*.img
qemu/*.iso
qemu/bzImage

# CMakeLists.txt
cmakebuild/
# vcpkg.json
# vcpkg-configuration.json
vcpkg_installed/
# vcpkg_overlay_ports/

subprojects/spdk/
subprojects/cachelib/
subprojects/zpp_bits*
subprojects/packagecache/