# coverage
*.gcov
*.gcda
*.gcno

# Prerequisites
*.d
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.save
*.h#
*.cc#
*.1
*.rej
*.orig
*.log
d1
d2
d3
d4
d5
b
typescript
xx

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pyc
