.idea/
.vscode/
__pycache__/
sidetest/

build/*
experiments/results/*
experiments/experiment-results.*
test/baklibs/*

*.o
*.so
*.qcow2
*.iso
*.img
perf.*

test-seq
imgtool
thick-image
lsvd_rnd_test
lsvd_crash_test

qemu/*.img
bzImage

perf.*
experiment-results.*

atc2024/build/
