RBD

Start: 			154280136
randread 5g: 	154325848
randwrite 5g: 	154554895

cost to randread 5g 44712
cost to randwrite 5g 229047

LSVD

Start: 			154595497
read 5g: 		154600800
randwrite 5g	154620601
start2:			154622563
randread 5g:	154630549

cost to read 5g 5303
cost to randwrite 5g 19801
cost to randread 5g 7986
